.header_main {
  background-color: #131c27;
  color: #fff;
}
nav {
  min-height: 10vh;
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  @include container;
  & ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
  }
}

#logo {
  font-size: 2.8rem;
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 2rem;
  }
}
